<mat-toolbar color="primary">
  <button
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="onMenuClick()"
    *ngIf="isHandset">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <span>staxter-angular-technical-task</span>
  <div class="flex-spacer"></div>
  <button
    mat-button
    [matMenuTriggerFor]="versionPicker"
    aria-label="Select a version"
    matTooltip="Select a version of the documentation"
  >
    Pick currency
    <mat-icon>arrow_drop_down</mat-icon>
  </button>
  <mat-menu #versionPicker="matMenu">
    <button mat-menu-item>EUR</button>
    <button mat-menu-item>USD</button>
  </mat-menu>
</mat-toolbar>