:host {
  height: 100%;
}

.container {
  position: relative;
  height: 100%;
}

.table-container {
  position: relative;
  max-height: 100%;
  overflow: auto;
}

table {
  width: 100%;
}

.loading-shade {
  position: absolute;
  top: 56px;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-column-chart {
  flex: 0 0 80px;
  justify-content: center;
}
