<div class="container mat-elevation-z8">
  <div class="loading-shade" *ngIf="loading$ | async">
    <mat-spinner></mat-spinner>
  </div>

  <div class="table-container">
    <mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort matSortActive="currency" matSortDirection="asc">
      <ng-container matColumnDef="currency">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Currencty </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.currency }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="spot">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Spot </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.spot | number }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="difference">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Increase / Decrease</mat-header-cell>
        <mat-cell *matCellDef="let element" [ngSwitch]="element.difference">
          <mat-icon *ngSwitchCase="1">trending_up</mat-icon>
          <mat-icon *ngSwitchCase="-1">trending_down</mat-icon>
          <mat-icon *ngSwitchDefault>trending_flat</mat-icon>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="chart">
        <mat-header-cell *matHeaderCellDef>Chart</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <a mat-icon-button>
            <mat-icon>insert_chart_outlined</mat-icon>
          </a>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
</div>
