:host {
  height: 100%;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 300px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.sidenav-content {
  padding: 25px 40px;
  height: 100%;
}

// @media (max-width: 600px) {
//   .sidenav-content {
//     min-height: 450px;
//     padding: 80px 1rem 1rem;
//   }
// }