@import '~@angular/material/theming';
@include mat-core();

$candy-app-primary: mat-palette($mat-indigo);
$candy-app-accent:  mat-palette($mat-pink, A200, A100, A400);

$candy-app-warn:    mat-palette($mat-red);

$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@include angular-material-theme($candy-app-theme);

.mat-menu-panel.currency-picker {
  max-height: 200px;
}

.mat-menu-item,
.mat-list-item {
  &.list-item-active {
    font-weight: bold;
    color: mat-color($candy-app-accent);
    background: rgba(0,0,0,.08);
  }
}

.loading-shade {
  position: absolute;
  top: 56px;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-container {
  position: relative;
  max-height: 100%;
  min-height: 200px;
  display: flex;
  flex-direction: column;
}